# Bootstrap
*.swp
*~
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/tshirts/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

/nbproject/private/

