body {
    color: #FFFFFF;
    /*background: #181D1D url('../images/background.png') no-repeat fixed center;*/
    background-color: #292626;
}

a {
    text-decoration: none;
}

#wrapper {
    width:100%;
    height:100%;
    min-height: 600px;
    min-width: 1024px;
    position:absolute;
    top:0;left:0;
    overflow:hidden;
}

#mask {
    width:500%;
    height:100%;
}

.item {
    width: 100%;
    height:100%;
    min-height: 600px;
    min-width: 1024px;
    position: relative;
}

.clear {
    clear:both;
}

/* Vertical align */
.content {
    height: 80%;
    text-align: center;
}

table {
    height: 100%;
    width: 100%;
}

table td {
    text-align: center;
}

/* Arrows */
.bottom, .top {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    z-index: 10;
}

.bottom {
    top: 85%;
}

.top {
    top: 7%;
}

.downarrow img {
   /*transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -webkit-transform: rotate(180deg);*/
}

.leftarrow img {
    margin-left: 20px;
   /*transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);*/
}

.rightarrow img {
    margin-right: 20px;
   /*transform: rotate(270deg);
   -moz-transform: rotate(270deg);
   -webkit-transform: rotate(270deg);*/
}

.panel span {
    color: #949493;
    font-family: monospace;
    letter-spacing: 10px;
    position: absolute;
    left: -8px;
    top: -22px;
}

.hover span {
    color: #D4A063;
}

.topright {
    /*opacity: 0;*/
    position: fixed;
    right: 4%;
    top: 4%;
}

.topright * {
    vertical-align: middle;
    margin-left: 10px;
}

.topleft {
    color: #474746;
    font-family: monospace;
    letter-spacing: 10px;
    position: fixed;
    top: 5%;
    left: 2%;
}

/* Welcome Page */
#welcome {
    /*background: #181D1D url('../images/background.png');
    background-position: 53% 100%;*/
}

#welcome-page {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
}

#logo-text {
    font-size: 1em;
    color: #41403F;
    font-family: monospace;
    letter-spacing: 10px;
    margin-top: 75%;
    width: 612px;
}

#logo * {
    left: 50%;
    margin-left: -55px;
    margin-top: -25px;
    position: absolute;
    top: 40%;
}

#logoselected {
    opacity: 0;
}

/* TShirts Page */
#tshirts-pic {
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
}

#tshirts-pic img {
    margin-left: -14px;
}

#tshirts-text {
    color: #D4A063;
    font-size: 1em;
    font-family: monospace;
    letter-spacing: 10px;
    margin-right: 3%;
}

#tshirts-text span {
    color: #C2A788;
}

#tshirts-prevmonth {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50px;
    z-index: 10;
}

#tshirts-nextmonth {
    position: absolute;
    right: 3%;
    top: 50%;
    margin-top: -50px;
    z-index: 10;
}

/* Order Page */
#order-content {
    margin-top: 5%;
    margin-left: 10%;
    text-align: center;
    color: #A7A9AC;
    font-size: 0.9em;
    text-align: left;
}

#order-now-button h1 {
    margin-top: 0;
    margin-bottom: 50px;
}

#kobosta_sitebundle_tshirtordertype div {
    margin-bottom: 5px;
}

#order-content label {
    float: left;
    text-align: right;
    color: #4F4D4B;
    margin-right: 10px;
    width: 65px;
}

#order-content input {
    width: 185px;
    padding-left: 5px;
    /*background: #DDB380 url('../images/order/FILL_BLANK.png');*/
}

#order-content select, input, button {
    background-color: #DDB380;
    border-radius: 15px;
    border: none;
    height: 20px;
}

#order-content button {
    width: 135px;
    height: 61px;
    text-indent: -9999px;
    white-space: nowrap;
    background: #292626 url('../images/order/UNSELECTED_ORDDER.png');
    margin-left: 130px;
}

.sizesshirt {
    display: inline-block;
    position: absolute;
    right: 25%;
    top: 32%;
}

.otshirtprice {
    float: right;
    margin-right: 10px;
}

#order-now-button .sbSelector {
    background: #181D1D url('../images/order/SIZE_BLANK.png') no-repeat;
    width: 74px;
    height: 30px;
}

#order-left {
    display: inline-block;
    width: 398px;
    margin-right: 10%;
}

#order-right {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#order-bottom {
    margin-top: 10%;
}

/* About page */
#about {
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-color: rgb(0, 0, 0);
     background-color: rgba(0, 0, 0, 0.8);
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#about table {
    margin-left: 10%;
    width: 40%;
}

#about table td {
    text-align: left;
    color: #333130;
}

.info, .xinfo {
    cursor: pointer;
}

h1, h2 {
    font-weight: normal;
    color: #E6C49C;
}

#about .profiles div {
    height: 150px;
}

#about .profiles h2, #about .profiles p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}