<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('public/css/layout.css') }}" type="text/css" media="all" />
        <title>{% block title %}Kobosta.com{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="welcome-page">
            {% include 'KobostaSiteBundle::welcome.html.twig' %}
        </div>
        <div id="tshirt-slideshow-page">
            {% include 'KobostaSiteBundle::tshirt-slideshow.html.twig' %}
        </div>
        <div id="order-page">
            {% include 'KobostaSiteBundle::order.html.twig' %}
        </div>
    </body>
</html>