<div id="tshirts-content">
    <div id="tshirts-prevmonth">
        <a href="javascript:void(0)" class="leftarrow"><img class="arrow" src="{{asset('public/images/unselected_left.png')}}"></a>
    </div>
    <div id="tshirts-nextmonth">
        <a href="javascript:void(0)" class="rightarrow"><img class="arrow" src="{{asset('public/images/unselected_right.png')}}"></a>
    </div>
    <div id="tshirts-pic">
        {#<img src="{{asset('public/images/monthly/'~'now'|date('m_Y')~'/tshirt.png')}}" alt="Tshirt" id="tshirts-pic-raw" />#}
    </div>
    <div id="tshirts-text">
        {#AUGUST / FISH<span>DESIGN</span> / 72<span>LEFT</span>#}
    </div>
</div>