<div id='welcome-page'>
    <div id='logo'>
        <a href="#tshirts" class="panel">
        <img src="{{asset('public/images/unselected_logo.png')}}" id="logounselected" alt="Logo" />
        <img src="{{asset('public/images/selected_logo.png')}}" id="logoselected" alt="Logo" />
        </a>
    </div>
    <div id='logo-text'>
        {{ texts.find('welcome_text').text }}
    </div>
</div>