<div id='welcome-page'>
    <div id='logo'>
        <img src="{{asset('public/images/unselected_logo.png')}}" id="logounselected" alt="Logo" />
        <img src="{{asset('public/images/selected_logo.png')}}" id="logoselected" alt="Logo" />
    </div>
    <div id='logo-text'>
        EACHMONTH / ONEDESIGN / IOOTSHIRTS
    </div>
</div>